<!DOCTYPE html>
<html>
<head>
    <title>Imovel Details</title>
</head>
<body>
    <h1>Imovel Details</h1>
    <ul>
        <li>ID: {{ imovel._id }}</li>
        <li>Bairro: {{ imovel.bairro }}</li>
        <li>Área (m²): {{ imovel.areaM2 }}</li>
        <li>Suítes: {{ imovel.suites }}</li>
        <li>Dormitórios: {{ imovel.dormitorios }}</li>
        <li>Banheiros: {{ imovel.banheiros }}</li>
        <li>Vagas: {{ imovel.vagas }}</li>
        <li>Preço: {{ imovel.preco }}</li>
    </ul>
    <a href="/">Back to list</a>
</body>
</html>
